<!doctype html>
<html>
<head>
<meta charset="utf-8">
<style>
body {
background-size: cover;
}
  </style>
<title>Untitled Page</title>
</head>
<body background="https://i.gifer.com/3QeD.gif">
<div id="container">
<div id="wb_Form1" style="position:absolute;left:101px;top:30px;width:377px;height:155px;z-index:6;">
<form name="Form1" method="post" action="" enctype="text/plain" id="Form1">
<label for="TextArea1" id="Label1" style="position:absolute;left:10px;top:15px;width:59px;height:16px;line-height:16px;z-index:0;">Логин</label>
<textarea name="TextArea1" id="TextArea1" style="position:absolute;left:90px;top:15px;width:266px;height:14px;z-index:1;" rows="1" cols="31" spellcheck="false"></textarea>
<label for="TextArea2" id="Label2" style="position:absolute;left:10px;top:59px;width:59px;height:16px;line-height:16px;z-index:2;">Пароль</label>
<textarea name="TextArea2" id="TextArea2" style="position:absolute;left:90px;top:59px;width:266px;height:14px;z-index:3;" rows="1" cols="31" spellcheck="false"></textarea>
<input type="submit" id="Button1" name="" value="Submit" style="position:absolute;left:106px;top:108px;width:164px;height:24px;z-index:4;">
</form>
</div>
</div>
</body>
</html>